@{
    ViewData["Title"] = "Home Page";
}

@model string

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (string.IsNullOrEmpty(Model))
    {
        <p>You Can Login <a asp-controller="User" asp-action="Login">Here</a>.</p>
    }
</div>